:root
{
    /*variable css*/
    --color-main : skyblue;
    --color-second : whitesmoke;
    --color-third : #082131;
}

html{
    /*cursor: none;*/
    overflow-x: hidden; /*disable horizontal scrollbar*/
}
body{
    background-color: var(--color-second);
    color: black;
    margin: 0px;
}

h2{
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;    
    font-size: 2em;
    text-align: center;
}

button
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .row
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1000px) {
    .row
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.col{
    flex: 1;
    margin-right : 1em;
}

.backgroundTransform
{    
    transform: rotate(-1.5deg);   
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;    
    z-index: -1;
    background-color: var(--color-main);
}

#cursor{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    pointer-events: none;
    position : fixed;
    z-index: 100;
}

/*//////////////////////////HOME///////////////////////////*/

h1{
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

#Home
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#textOnCanvas
{
    padding-left: 20%;
    padding-top: 5%;
    color : var(--color-main);
    text-align: left;
    z-index: 90;
}
#textOnCanvas button
{
    background-color: transparent;
    color : var(--color-main);
    border: var(--color-main) solid 2px;
}
#hi
{    
    margin: 0;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.5s;
}
#iam
{
    opacity: 0;
    transition: opacity 0.5s;
}
#getStarted
{
    opacity: 0;
    transition: opacity 0.5s;
}
#particleContainer
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*//////////////////////////PROJETS///////////////////////////*/
#projets{
    border-radius: 10px;
    padding-bottom: 10px;
    position: relative; 
    display : flex;
    flex-direction: column;
}

#projets h2
{
    padding-top : 3%;
}

@media screen and (min-width: 1000px)
{
    .project:hover
    {
        width: 80%;
        height: auto;
    }
}

#projectContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textProject
{
    flex: 1;
    margin-right : 1em;
}

.project
{
    background-color: var(--color-main);
    width: 70%;
    height: auto;
    /*border: black solid 2px;*/
    border-radius: 10px;
    padding : 10px;
    position: relative;
    margin-bottom: 3%;
    box-shadow: 2px 2px 10px black;    
    transform: translateY(100%);
    transition : width 1s, transform 1s;    
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.imgProjet{
    max-width: 30%;
    max-height: auto;
    border-radius: 10px;
    flex: 1;
    margin-right : 1em;
}

.iconGithub
{
    max-width: 5%;
    max-height: auto;
    position: absolute;
    right : 0;
    bottom: 0;
}

.projectDate
{
    position: absolute;
    right : 0;
    top: 0;
    font-weight: bold;
    padding-right: 10px;
}

.project p{
    margin-top: 10px;
    text-align: justify;
}

.description
{
    margin-bottom: 40px;
}

.keyword
{
    font-weight: bolder;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1000px)
{
    .project
    {
        width: 90%;
        height: 40vh;
        overflow: hidden;
    }
    .imgProjet
    {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.3;
        z-index: -1;
    }
    .project p{
        font-weight: bold;
    }
    #projets h2
    {
        padding-top : 2%;
        margin-bottom: 2%;
    }
}

/*//////////////////////////BUTTONS_SORT///////////////////////////*/


#buttonsSort
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

#buttonsSort button
{    
    transition: font-size 0.5s;
    cursor: pointer;
}

#buttonsSort .unactive
{
    background-color: var(--color-main);
    border: 2px solid var(--color-second);
    color: var(--color-second);
}

#buttonsSort .active
{
    background-color: var(--color-second);
    border: 2px solid var(--color-main);
    color: var(--color-main);
}

#buttonsSort button:hover
{
    font-size: 25px;
}

#buttonsSort span
{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.showProjectButton
{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-main);
    border: 2px solid var(--color-second);
    color: var(--color-second);
    
}

#showMore:hover
{
    font-size: 25px;
    transition: font-size 0.5s;
    cursor: pointer;
}

/*//////////////////////////WHO_AM_I///////////////////////////*/

#presentation
{
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

#presentation p
{
    text-align: justify;
    max-width: 100%;
    overflow: hidden;
}

#imgPresentation
{
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#author
{
   /* margin-top : -80px;*/
    max-height: 300px;
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 1.5s;
}


/*//////////////////////////NAVIGATION_BAR///////////////////////////*/

#navigationBar
{
    display: flex;
    width: 100%;
    transition: top 0.5s, position 0.5s;
    z-index: 99;    
    background-color: transparent;
}

#navigationBar ul
{    
    list-style-type: none;
    width: 60%;
    display: flex;
}

#navigationBar li
{
    display: inline-block;
    margin-right: 5%;
    font-weight: bold;
    font-size: 20px;
}
#navBarIcon
{
    color : transparent;
}

#navigationBar a
{
    text-decoration: none;
    color : var(--color-second);
}

.Navactive
{
    top : 0;
}

.Navunactive
{
    top : -100px;
}

@media screen and (max-width: 600px)
{
    #navBarIcon
    {
        display: relative;
        color: var(--color-second);
        font-size: 2em;
    } 
    #navigationBar ul
    {
        justify-content: center;
    }
    #navigationBar li:not(:first-child)
    {
        display: none;
    }
}


/*//////////////////////////SKILLS///////////////////////////*/

#div_button_skills
{
    margin-left: 10%;    
    margin-right: 10%;
    display: flex;
}

#Skills ul
{
    background-color: var(--color-second);    
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
    padding: 0;
}

#Skills li
{
    background-color: var(--color-second);
    list-style-type: none;
    margin-top: -2px;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 10px;
}

#Skills li .active
{
    background-color: var(--color-main);
}

#Skills button
{
    cursor: pointer;
}

#Skills .active
{
    background-color: var(--color-main);
    border: 2px solid var(--color-second);
    color: var(--color-second);
}

#Skills .unactive
{
    background-color: var(--color-second);
    border: 2px solid var(--color-main);
    color: var(--color-main);
}

#sortSkill
{
    flex : 1;
    margin-right: -30%;
}

#skillsContainer
{    
    flex : 1;    
    background-color: var(--color-main);
    border-radius: 10px;    
    padding: 3%;
    padding-bottom: 8%;
    display: grid;
    gap: 50px 5%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.skill
{
    max-height: 100px;
    max-width: 100px;
    background-color: var(--color-main);
    border-radius: 10px;
    transition : width 0.5s, height 0.5s;
    display: flex;
    justify-content: center;
}
.skill p
{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 115px;
}

@media screen and (max-width: 1000px)
{
    #div_button_skills
    {
        flex-direction: column;
        margin: 0;
    }
    #sortSkill
    {
        width: 100%;
    }
    #Skills ul
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #Skills li
    {
        padding: 0;
        margin: 0;
    }
    #sortSkill
    {
        flex : 0;
        margin-right: auto;
    }
    
    #skillsContainer
    {
        flex : 0;
    }
}
    

/*//////////////////////////CONTACT///////////////////////////*/

#Contact
{
    margin : 100px 0px;
    position : relative;
    padding: 10px;
}

#Contact img
{
    max-width: 200px;
    max-height: auto;
}

#logoContact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}


/*/////////////////////////FOOTER/////////////////////////*/

footer
{   
    background-color: var(--color-main);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer p
{
    padding-left: 20px;
    font-weight: bold;
}

footer a
{
    text-decoration: none;
    color: black;
}

footer img
{
    max-width: auto;
    max-height: 100px;
}